@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+TC:wght@300&family=Poppins:wght@300&display=swap");
.loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.loader-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #161616;
}
.loader-logo {
  position: absolute;
  width: 350px;
  height: 70px;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loader-logo-show {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
}
.loader-logo-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.2;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transform-origin: bottom;
}
.loader-logo-bg img {
  position: absolute;
  right: 0;
}

a {
  color: #f2f2f2;
}

.nav .buynow {
  border: #f2f2f2 solid 1px;
}
.nav .buynow:before {
  background: #f2f2f2;
}
.nav .buynow:hover .tw {
  color: #161616;
}

.burger .bar {
  background-color: #f2f2f2;
}

.main {
  margin-top: 100vh;
  position: relative;
  background-color: #f2f2f2;
}

.big {
  height: 100vh;
}
.big-mask {
  height: 100vh;
}
.big-pic {
  height: 100vh;
}

.activity {
  max-width: 1200px;
  margin: auto;
  padding: 10vw 5vw;
  display: flex;
  justify-content: space-between;
}
.activity a {
  color: #161616;
}
.activity a h3, .activity a img {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
}
.activity-tag {
  width: 27.5%;
  padding-right: 5%;
}
.activity-tag h3 {
  font-family: "Bebas Neue", "Noto Sans TC", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 16px;
  font-weight: bold;
}
.activity-tag-list li {
  margin-bottom: 8px;
  padding: 6px 6px;
  font-size: 0.85rem;
  width: auto;
  letter-spacing: 0rem;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
}
.activity-tag-list li:after {
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0;
  bottom: -1px;
  left: 0;
  height: 1px;
  background: #afafaf;
}
.activity-tag-list li.active {
  border-bottom: 1px solid #afafaf;
}
.activity-tag-list li.active a {
  color: #161616;
}
.activity-tag-list li span {
  margin-left: 10px;
}
.activity-tag-list li a {
  color: #afafaf;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.activity-tag-list li:hover a {
  color: #161616;
}
.activity-tag-list li:hover:after {
  width: 100%;
  left: 0;
}
.activity-article {
  width: 70%;
}
.activity-article h3 {
  font-weight: bold;
  font-size: 1.2rem;
}
.activity-article-item {
  margin-bottom: 2vw;
}
.activity-article-item:last-child {
  margin-bottom: unset;
}
.activity-article-item:hover h3 {
  color: #bc9a65;
}
.activity-article-item:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.activity-article-img {
  position: relative;
  padding-bottom: 31.25%;
  z-index: 2;
}
.activity-article-img-mask {
  position: absolute;
  height: 100%;
  overflow: hidden;
  background-color: pink;
}
.activity-article-img img {
  position: relative;
  width: 100%;
  top: -80%;
}
.activity-article-info {
  padding: 0.5vw 0;
}
.activity-article-info span {
  margin-right: 10px;
  display: inline-block;
}
.activity-article-title {
  margin-top: 0.5vw;
  padding-bottom: 10px;
}
.activity-article-date {
  color: #969696;
  display: inline-block;
  margin-right: 15px;
}
.activity-article-sorce, .activity-article-tag {
  color: #969696;
  display: inline-block;
  margin-right: 15px;
}
.activity-article-sorce:hover span, .activity-article-tag:hover span {
  -moz-animation: bounce 0.5s linear infinite both;
  -webkit-animation: bounce 0.5s linear infinite both;
  animation: bounce 0.5s linear infinite both;
}
.activity-article-text {
  margin-top: 10px;
  color: #969696;
}

@-moz-keyframes bounce {
  0% ,100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0% ,100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0% ,100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
.contact-title {
  opacity: 0;
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  -moz-transition: opacity 0.5s, -moz-transform 0.8s ease-in-out;
  -o-transition: opacity 0.5s, -o-transform 0.8s ease-in-out;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.5s, transform 0.8s ease-in-out;
}
.contact-title.show {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.contact-text {
  opacity: 0;
  -moz-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
  -moz-transition: opacity 0.5s, -moz-transform 0.8s ease-in-out;
  -o-transition: opacity 0.5s, -o-transform 0.8s ease-in-out;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.5s, transform 0.8s ease-in-out;
}
.contact-text.show {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.contact-info-list {
  opacity: 0;
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -moz-transition: opacity 0.5s, -moz-transform 0.8s ease-in-out;
  -o-transition: opacity 0.5s, -o-transform 0.8s ease-in-out;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.5s, transform 0.8s ease-in-out;
}
.contact-info-list:nth-child(1) {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.contact-info-list:nth-child(2) {
  -moz-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.contact-info-list:nth-child(3) {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.contact-info-list.show {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.contact-form {
  opacity: 0;
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  -moz-transition: opacity 0.5s, -moz-transform 0.8s ease-in-out;
  -o-transition: opacity 0.5s, -o-transform 0.8s ease-in-out;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.5s, transform 0.8s ease-in-out;
}
.contact-form.show {
  opacity: 1;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.map {
  position: relative;
}
.map:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #565656;
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -moz-transition: -moz-transform 0.8s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -o-transition: -o-transform 0.8s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.8s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.map.show:after {
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

@media screen and (max-width: 1024px) {
  .header {
    background-color: #161616;
  }

  .nav {
    background-color: #161616;
  }
  .nav li .tw:before {
    background: #f2f2f2;
  }
  .nav .buynow {
    border: unset;
  }
  .nav.active {
    background-color: #161616;
  }
}
@media screen and (max-width: 768px) {
  .activity {
    flex-direction: column;
  }
  .activity-tag {
    width: unset;
    padding-right: unset;
    margin-bottom: 5vw;
  }
  .activity-tag-list li {
    display: inline-block;
    border-bottom: unset;
    border: 1px solid #e2e2e2;
    padding: 6px 16px;
    margin-right: 8px;
  }
  .activity-tag-list li:before {
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    top: -1px;
    right: 0;
    height: 1px;
    background: #afafaf;
  }
  .activity-tag-list li.active {
    border: 1px solid #afafaf;
  }
  .activity-tag-list li:hover:before {
    width: 100%;
    right: 0;
  }
  .activity-article {
    width: unset;
  }
  .activity-article-item {
    margin-bottom: 5vw;
  }
  .activity-article-title {
    padding-bottom: 5px;
  }
  .activity-article-date, .activity-article-sorce, .activity-article-tag {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 425px) {
  .activity h3 {
    font-size: 0.8rem;
  }
  .activity-tag li {
    font-size: 0.75rem;
  }
  .activity-article-text, .activity-article-tag {
    display: none;
  }
}
